@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger">
        @ViewData["MensagemErro"]
    </div>
}

    @model List<AlunoModel>

    @{
        ViewData["Title"] = "Alunos";
    }

    <div class="text-center">

        <div>
            <h1>Dados dos Alunos</h1>
        </div>

        <div class="btn-group btn align-content-start" role="group">
            <a class="btn btn-primary" role="button" type="submit" asp-controller="Alunos" asp-action="Adicionar">Adicionar Novo Aluno</a>
            <a class="btn btn-secondary" role="button" type="submit" asp-controller="Home" asp-action="Index">Voltar</a>
        </div>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Contato</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Gerenciar</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (AlunoModel aluno in Model)
                    {
                        <tr>
                            <td>@aluno.Id</td>
                            <td>@aluno.Nome</td>
                            <td>@aluno.Idade</td>
                            <td>@aluno.Contato</td>
                            <td>@aluno.Email</td>
                            <td>@aluno.Cep</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-primary" asp-controller="Alunos" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Endereço</a>
                                    <a role="button" class="btn btn-secondary" asp-route-id="@aluno.Id" asp-controller="Alunos" asp-action="Editar">Editar</a>
                                    <a role="button" class="btn btn-danger" asp-route-id="@aluno.Id" asp-controller="Alunos" asp-action="ApagarConfirmacao">Apagar</a>

                                </div>
                            </td>

                        </tr>

                    }

                }

            </tbody>
        </table>


    </div>

